@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700;800&display=swap');

/*-------------------------------- Navbar */

i {
    margin-right: 5px;
}

.navbar-wrapper {
    background-color: #c92b2b;
}

.navbar-wrapper img {
    width: 47px;
    height: 47px;
}

.dropdown-menu {
    position: relative;
    top: 4rem;
    background-color: #c92b2b;
    border: none;

}

.dropdown-item {
    color: #ffffff;
}

/* Throughout my site i have used the Exo google font and have chosen sans sarif as a fall back if the browser fails to load Exo */
li a {
    font-family: "Exo", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
}

#nav-link-login {
    font-family: "Exo", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #ffffff;
}

/*-------------------------------- Headings */

.bayern-heading {
    font-family: "Exo", sans-serif;
    font-size: 28px;
    font-weight: 600;
    color: #797979;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding-left: 15px;
}

/*------------------------------------------------------------ Home page */

/*-------------------------------- Club news */

/* I watched a you tube tutorial on how to use the display flex function to center content https://www.youtube.com/watch?v=mVYgtzDLZfY */
.club-news-section div {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* To add the shadow to my images I found this on stack overflow https://stackoverflow.com/questions/14084542/htmlcss-how-to-add-shadow-as-image-to-image */
.club-news-section img {
    width: 300px;
    box-shadow: 10px 10px 40px #777;
    margin-bottom: 1rem;
   
}

.club-news-section a {
    font-family: "Exo", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #505050;
    width: 300px;

}

.club-news-section p {
    font-family: "Exo", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #797979;
    width: 300px;
}

@media (min-width: 1200px) {
    .club-news-section img {
        width: 340px;
    }
}

/*-------------------------------- Shop section  */

/* I watched a you tube tutorial on how to use the display flex function to center content https://www.youtube.com/watch?v=mVYgtzDLZfY */
.shop-section-row div {
    margin-bottom: 1rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* To add the shadow to my images I found this on stack overflow https://stackoverflow.com/questions/14084542/htmlcss-how-to-add-shadow-as-image-to-image */
.shop-section img {
    width: 90vw;
    box-shadow: 10px 10px 40px #777;
    margin-bottom: 1rem;
}

@media (min-width: 768px) {
    .shop-section img {
        width: 70vw;
    }
}

.shop-section h3 {
    width: 70vw;
    font-family: "Exo", sans-serif;
    font-size: 28px;
    font-weight: 500;
    color: #505050;
    text-decoration: none;
}

.shop-section p {
    width: 70vw;
    font-family: "Exo", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #797979;
}

/* I watched a you tube tutorial on how to use the display flex function to center content https://www.youtube.com/watch?v=mVYgtzDLZfY */
.view-page-button div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-page-button a  {
    font-family: "Exo", sans-serif;
    font-size: 14px;
    margin-bottom: 1rem;
    width: 120px;
    float: right;
}


/*-------------------------------- Fixtures / Results */

.fixtures-wrapper {
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding-left: 15px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #ececec;

}

.fixtures-month h3 {
    font-family: "Exo", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #505050;
}

.fixtures-month-nav a {
    font-family: "Exo", sans-serif;
    font-size: 12px;
}

.fixture-league-name h3 {
    font-family: "Exo", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #505050;
}

.fixtures-stadium-date h3 {
    font-family: "Exo", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #797979;
}

.fixtures-content {
    margin-top: 2rem;
}

.fixtures-content h3 {
    font-family: "Exo", sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #505050;

}

@media (min-width: 768px) {
    .fixtures-content h3 {
    font-size: 16px;
    }
}

.fixtures-home-team h3 {
    float: right;
}

.fixtures-home-logo img {
    width: 40px;
    height: 40px;
    float: right;
}

.fixtures-kick-off {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fixtures-kick-off h3 {
    font-family: "Exo", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #505050;
}

@media (max-width: 576px) {
    .fixtures-kick-off h3 {
    font-size: 12px;
    }
}

.fixtures-away-logo img {
    width: 40px;
    height: 40px;
}

.fixtures-away-logo-wide img {
    height: 40px;
}

.fixtures-banner-content {
    margin-top: 2rem;
}

.fixtures-banner-content img {
    width: 37px;
    height: 37px;
}

.fixtures-banner-content a {
    font-family: "Exo", sans-serif;
    font-size: 12px;
    color: #ffffff;
    background-color: #c92b2b;
    float: right;

}

/*-------------------------------- Teams */

/* Here I used 100vw to ensure the team hero image filled the entire view port width accross all screen sizes */
.team-hero-image img {
    width: 100vw;
}

.players-section div {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* To add the shadow to my images I found this on stack overflow https://stackoverflow.com/questions/14084542/htmlcss-how-to-add-shadow-as-image-to-image */
.players-section img {
    width: 120px;
    margin-bottom: 10px;
    box-shadow: 10px 5px 20px #999;
}

.players-section h3 {
    font-family: "Exo", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #505050;
    text-align: center;
    margin-bottom: 1rem;
}

/* Here I used a media query to make the players images get smaller on tablet and mobile devices to improve responsive desgin */
@media (min-width: 768px) {
    .players-section img {
        width: 200px;
        font-size: 24px;
    }
}

/* Here I used a media query to make the players names get smaller on tablet and mobile devices to improve responsive desgin */
@media (max-width: 576px) {
    .players-section h3 {
        font-size: 14px;
    }
}


/*-------------------------------- Footer */

/* I used 100vh for the footer section so that it fills the whole screen on all devices to improve design */
.bayern-footer {
    min-height: 50vh;
    background-color: #c92b2b;
}

.bayern-footer-sponsors {
    text-align: center;
    padding-top: 1rem;
    line-height: 5rem;
}

.bayern-footer-sponsors img {
    height: 50px;
}

/* Here I used a media query to make the sponsor logos get smaller on tablet and mobile devices to improve responsive desgin */
@media screen and (max-width: 992px) {
    .bayern-footer-sponsors img {
    height: 30px;
}
}

.footer-social-media i {
    font-size: 30px;
    margin-top: 4rem;
    color: #ffffff;
}

.footer-social-media i:hover {
    color: #797979;
}

.footer-nav-section {
    margin-top: 12rem;
}

.footer-nav-section ul {
    list-style-type: none;
    border-right: 1px solid #ffffff;
    height: 176px;
    padding: 0px;
    margin-left: 1rem;
}

.footer-nav-section a {
    font-family: "Exo", sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
    line-height: 2rem;
}

.top-nav-button a {
    font-family: "Exo", sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin-top: 4rem;
    color: #ffffff;
    border: 2px solid #ffffff;
}

/* I watched a you tube tutorial on how to use the display flex function to center content https://www.youtube.com/watch?v=mVYgtzDLZfY */
.top-nav-button div {
    display: flex;
    justify-content: center;
}


   