@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700;800&display=swap');

/*-------------------------------- Navbar */

i {
    margin-right: 5px;
}

.navbar-wrapper {
    background-color: #c92b2b;
}

.navbar-wrapper img {
    width: 47px;
    height: 47px;
}

.dropdown-menu {
    position: relative;
    top: 4rem;
    background-color: #c92b2b;
    border: none;

}

.dropdown-item {
    color: #ffffff;
}

li a {
    font-family: "Exo", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
}

#nav-link-login {
    font-family: "Exo", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #ffffff;
}

/*-------------------------------- Home page */



/*-------------------------------- Fixtures / Results */

.fixtures-heading {
    font-family: "Exo", sans-serif;
    font-size: 28px;
    font-weight: 600;
    color: #797979;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding-left: 15px;
}


.fixtures-wrapper {
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding-left: 15px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #ececec;

}

.fixtures-month h3 {
    font-family: "Exo", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #505050;
}

.fixtures-month-nav a {
    font-family: "Exo", sans-serif;
    font-size: 12px;
}

.fixture-league-name h3 {
    font-family: "Exo", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #505050;
}

.fixtures-stadium-date h3 {
    font-family: "Exo", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #797979;
}

.fixtures-content {
    margin-top: 2rem;
}

.fixtures-content h3 {
    font-family: "Exo", sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #505050;

}

.fixtures-home-team h3 {
    float: right;
}

.fixtures-home-logo img {
    width: 40px;
    height: 40px;
    float: right;
}

.fixtures-kick-off {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fixtures-kick-off h3 {
    font-family: "Exo", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #505050;
}

.fixtures-away-logo img {
    width: 40px;
    height: 40px;
}

.fixtures-away-logo-wide img {
    height: 40px;
}

.fixtures-banner-content {
    margin-top: 2rem;
}

.fixtures-banner-content img {
    width: 37px;
    height: 37px;
}

.fixtures-banner-content a {
    font-family: "Exo", sans-serif;
    font-size: 12px;
    color: #ffffff;
    background-color: #c92b2b;
    float: right;

}

/*-------------------------------- Footer */

.bayern-footer {
    min-height: 600px;
    background-color: #c92b2b;
}

.bayern-footer-sponsors {
    text-align: center;
    padding-top: 1rem;
    line-height: 5rem;
}

.bayern-footer-sponsors img {
    height: 50px;
}

@media screen and (max-width: 576px) {
    .bayern-footer-sponsors img {
    height: 30px;
 
}
}

@media screen and (max-width: 768px) {
    .bayern-footer-sponsors img {
    height: 30px;
}
}

@media screen and (max-width: 992px) {
    .bayern-footer-sponsors img {
    height: 30px;
}
}

.footer-social-media i {
    font-size: 30px;
    margin-top: 4rem;
    color: #ffffff;
}

.footer-social-media i:hover {
    color: #797979;
}

.footer-nav-section {
    margin-top: 8rem;
}

.footer-nav-section ul {
    list-style-type: none;
    border-right: 1px solid #ffffff;
    height: 176px;
    padding: 0px;
    margin-left: 1rem;
}

.footer-nav-section a {
    font-family: "Exo", sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
    line-height: 2rem;
}

.top-nav-button a {
    font-family: "Exo", sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin-top: 4rem;
    color: #ffffff;
    border: 2px solid #ffffff;
}

.top-nav-button div {
    display: flex;
    justify-content: center;
}


   